.footer {
  font-family: Mont, Inter, 'Segoe UI', Roboto, Arial, sans-serif;
  letter-spacing: 0.02em;

  &__inner {
    padding: 0 152px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(226, 230, 233, 1);
  }

  &__brand {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;

    &__logo-image {
      width: 11.92px;
      height: 14.58px;
      object-fit: contain;
    }

    font-weight: 700;
    line-height: 1.1;
    font-size: 16px;
  }

  &__logo-image {
    width: 11.92px;
    height: 14.58px;
    object-fit: contain;
  }

  &__logo-text {
    display: flex;
    gap: 3px;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 106px;
  }

  &__nav-item {
    position: relative;
    display: flex;
  }

  &__nav-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    color: rgba(137, 147, 154, 1);
    text-decoration: none;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;
    font-size: 12px;
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }

  &__action {
    font-weight: 600;
    font-size: 12px;
    color: rgba(137, 147, 154, 1);
  }

  &__action-button {
    background: transparent;
    border: 1px solid rgba(180, 189, 195, 1);
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

@media (max-width: 960px) {
  .footer {
    &__inner {
      padding: 12px 48px;
      height: auto;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    &__nav {
      justify-content: center;

      &-list {
        gap: 48px;
      }
    }

    &__actions {
      gap: 12px;
    }
  }
}

@media (max-width: 670px) {
  .footer {
    &__inner {
      padding: 32px 16px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 32px;
    }

    &__nav {
      &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: start;
      }
      &-link {
        padding: 0;
      }
    }

    &__actions {
      align-self: center;
    }
  }
}
