.footer {
  background: #f5f6fa;
  padding: 16px 0;
  border-bottom: 1px solid #e1e4e8;

  &__container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 16px;
  }

  h1 {
    margin: 0;
  }
}
